* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-color: crimson;
  color: white;
}

li {
  list-style: none;
}

a {
  color: white;
}

li a {
  text-decoration: none;
}

.main {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box {
  height: 100%;
  width: 50%;
  background-color: #790a20;
  position: absolute;
  top: 0%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  z-index: -2;
}

.mainbox {
  width: 450px;
  height: 450px;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.mainbox img {
  text-align: center;
  width: auto;
  height: 100%;
}

.links {
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links .link {
  margin: 20px;
}

.links .link a {
  display: inline-block;
  padding: 10px;
}

.links :hover,
.links .active {
  background-color: rgba(255, 255, 255, 0.2);
}

.name {
  font-size: 40px;
  word-spacing: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.avatar {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  display: inline;
  margin-top: 20px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
}

.avatar img {
  height: 50px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social i {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social i:hover {
  background-color: white;
  color: crimson;
}

.social a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */