$mcolor: #475e6e;
$scolor: #2a3b47;
$ecolor: rgb(226, 221, 221);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background-color: $mcolor;
  color: $ecolor;
}

li {
  list-style: none;
}

a {
  color: $ecolor;
}
li a {
  text-decoration: none;
}

.main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  align-items: center;
  // header {
  //   height: 20%;
  // }
  main {
    // height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  //   nav {
  //     height: 20%;
  //   }
}

.box {
  height: 100%;
  width: 50%;
  background-color: $scolor;
  position: absolute;
  top: 0%;
  transform: translate(-50%, 0%);
  z-index: -2;
}

.mainbox {
  width: 450px;
  height: 450px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  display: flex;
  justify-content: center;

  img {
    text-align: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.links {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  // position: absolute;
  // top: 95%;
  // left: 50%;
  // transform: translate(-50%, -50%);

  // :nth-child(2) {
  //   margin-right: 50px;
  // }

  // :nth-child(4) {
  //   margin-left: 50px;
  // }
  .link {
    margin: 20px;
  }
  .link a {
    display: inline-block;
    padding: 10px;
    // border: 2px solid $ecolor;
  }
  :hover,
  .active {
    // background-color: rgba(182, 182, 182, 0.479);
    border: 1px solid $ecolor;
  }
}

.name {
  font-size: 40px;
  word-spacing: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: inline;
  margin-top: 20px;
  // position: absolute;
  // top: 85%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  overflow: hidden;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  img {
    height: 50px;
  }
}

.social {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
  justify-content: space-between;
  align-items: center;

  i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    background-color: $scolor;
    box-shadow: 2px 2px 20px rgba(49, 46, 46, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  i:hover {
    background-color: $ecolor;
    color: $mcolor;
  }

  a {
    text-decoration: none;
  }
}

@media (max-width: 500px) {
  .mainbox {
    width: 350px;
    height: 350px;
  }
  .name {
    font-size: 30px;
    word-spacing: 15px;
  }
  .links {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .mainbox {
    width: 300px;
    height: 300px;
  }
}

// @media (max-width: 591px) {
//   .name,
//   .links {
//     font-size: 25px;
//   }
//   .mainbox {
//     width: 80%;
//     height: 300px;
//   }
// }

// @media (max-width: 514px) {
//   .name,
//   .links {
//     font-size: 18px;
//   }
// }

// @media (max-width: 419px) {
//   .name,
//   .links {
//     font-size: 15px;
//   }
// }

// @media (max-width: 350px) {
//   .name,
//   .links {
//     font-size: 14px;
//   }
// }
